h1 {
    color:green; text-align: center; font-family: sans-serif; font-weight: 800;
}

h2 {
    color: green; text-align: center; font-family: sans-serif;
}

div {
    text-align: center; 
}

p {
    font-size: x-large; line-height: '40px%'; font-style: unset;
}

ul {
    color: teal;
}